<p-dialog header="Edit Description"
          [(visible)]="displayDialog"
          modal="true"
          [responsive]="true"
          styleClass="custom-dialog"
          [style]="{width: '350px', minWidth: '200px'}"
          [minY]="70"
          [maximizable]="true"
          [baseZIndex]="10000">
  <div class="p-fluid">
    <div class="p-formgrid p-grid">
      <div class="p-field p-col">
        <label for="name">Extended Properties Name</label>
        <textarea rows="5"
                  cols="30"
                  [disabled]="true"
                  pInputTextarea
                  [autoResize]="true"
                  [(ngModel)]="selectedDescription.name"
                  placeholder="Enter name">
        </textarea>
      </div>
      <div class="p-field p-col">
        <label for="value">Extended Properties Value</label>
        <textarea rows="5"
                  cols="30"
                  pInputTextarea
                  [autoResize]="true"
                  [(ngModel)]="selectedDescription.value"
                  placeholder="Enter value">
        </textarea>
      </div>
    </div>
  </div>
  <p-footer>
    <button *ngIf="hasEditPermission"
            pButton
            label="Save"
            icon="pi pi-check"
            (click)="saveDescription()"
            class="p-button-success">
    </button>
    <button pButton
            label="Cancel"
            icon="pi pi-times"
            class="p-button-secondary"
            (click)="cancelEdit()">
    </button>
  </p-footer>
</p-dialog>
