<p-accordion>
    <p-accordionTab header="Databases">
      <p-fieldset legend="Header" [toggleable]="true">
        <p>
            Lorem ipsum dolor sit amet...
        </p>
    </p-fieldset>
        <p-card header="Simple Card">
            <p class="m-0">
                Lorem ipsum dolor sit amet...
            </p>
        </p-card>
    </p-accordionTab>
    <p-accordionTab header="Server Properties">
      <p-table
      [value]="customers"
      [paginator]="true"
      [rows]="5"
      [tableStyle]="{ 'min-width': '50rem' }"
      [rowsPerPageOptions]="[5, 10, 20]"
  >
      <ng-template pTemplate="header">
          <tr>
              <th style="width:50%">Property</th>
              <th style="width:50%">Value</th>
             
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-customer>
          <tr>
              <td>{{ customer.name }}</td>
              <td>{{ customer.country.name }}</td>
             
          </tr>
      </ng-template>
  </p-table>
    </p-accordionTab>
    <p-accordionTab header="Server Setting">
      <p-table
      [value]="customers"
      [paginator]="true"
      [rows]="5"
      [tableStyle]="{ 'min-width': '50rem' }"
      [rowsPerPageOptions]="[5, 10, 20]"
  >
      <ng-template pTemplate="header">
          <tr>
              <th style="width:50%">Property</th>
              <th style="width:50%">Value</th>
             
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-customer>
          <tr>
              <td>{{ customer.name }}</td>
              <td>{{ customer.country.name }}</td>
             
          </tr>
      </ng-template>
  </p-table>
    </p-accordionTab>
    <p-accordionTab header="Advance Server Settings">
      <p-table
      [value]="customers"
      [paginator]="true"
      [rows]="5"
      [tableStyle]="{ 'min-width': '50rem' }"
      [rowsPerPageOptions]="[5, 10, 20]"
  >
      <ng-template pTemplate="header">
          <tr>
              <th style="width:50%">Property</th>
              <th style="width:50%">Value</th>
             
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-customer>
          <tr>
              <td>{{ customer.name }}</td>
              <td>{{ customer.country.name }}</td>
             
          </tr>
      </ng-template>
  </p-table>
    </p-accordionTab>
     
  </p-accordion>