<amexio-accordion [multi-open]="true">

  <amexio-accordion-tab amexioColorPalette [color-palette]="''" [gradient]="true" header="All Triggers" [active]="true">
    <hr />
    <input type="text" class="form-control" placeholder="Search">
    <hr />
    <div class="table">
      <div class="row header">
        <div class="cell">Triggers</div>
        <div class="cell">MS Descriptions</div>
      </div>
      <div *ngFor="let Property of triggers   " class="row">
        <a [innerHTML]="Property.name  " class="cell" data-title="Property" [routerLink]="['/Trigger',Property.name]"> {{Property.name}}</a>
        <div [innerHTML]="Property.description  " class="cell" data-title="Value">{{Property.istrValue}}</div>

      </div>
    </div>
  </amexio-accordion-tab>

</amexio-accordion>
