
<amexio-accordion [multi-open]="true">
  <amexio-accordion-tab amexioColorPalette [color-palette]="''" header="All Table Functions " [gradient]="true"
                        [active]="true">
    <hr />
    <input type="text" class="form-control" placeholder="Search" id="listSearch">
    <hr />
    <div class="table">
      <div class="row header">
        <div class="cell">Table Functions </div>
        <div class="cell">MS Descriptions</div>
      </div>
      <div *ngFor="let tablevaluefunctions of functionDescriptions | keyvalue" class="row">
        <div class="cell"><a [routerLink]="['/TableValueFunction', tablevaluefunctions.key ]"> {{ tablevaluefunctions.key }}</a></div>
        <div class="cell">{{ tablevaluefunctions.value }}</div>
      </div> 
    </div>
  </amexio-accordion-tab>

</amexio-accordion>
