<p-accordion>
    <p-accordionTab header="Databases">
      <p-fieldset legend="Header" [toggleable]="true">
        <p>
          
        </p>
    </p-fieldset>
        <p-card header="Simple Card">
            <p class="m-0">

            </p>
        </p-card>
    </p-accordionTab>
    <p-accordionTab header="Server Properties">
     
    </p-accordionTab>
    <p-accordionTab header="Server Setting">
     
    </p-accordionTab>
    <p-accordionTab header="Advance Server Settings">
     
    </p-accordionTab>
     
  </p-accordion>