.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Split bar visibility */
.HideSplitBar {
  flex: 0 0 0 !important;
}

.HideSplitBar div {
  display: none !important;
}

.showSplitBar div {
  display: block !important;
}

/* Full-page and partial modes */
.ShowFullPageMode {
  order: 2;
  flex: 0 0 calc(100% - 15px) !important;
}

#asSplitArea2 {
  height: 85vh !important;
}

#asSplitArea1 {
  height: 85vh !important;
}