@import '~font-awesome/css/font-awesome.min.css';

body{
  line-height: 1.4 !important;  
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important; */
  font-family: Roboto, Verdana, sans-serif, Helvetica, Arial, Trebuchet MS !important
}
.as-split-gutter {
  height: auto !important;
  background-color: gray !important;
}
.card-container {
  box-shadow: none !important;
}
.treenode-children {
  /* margin: 0; */
  padding: 0 0 0 5px !important;
  /* transition: expand 0.5s; */
}

.accordion {  
  background-color: #184569 !important;
  font-size: 15px !important;
}

.as-split-gutter-icon {  
  height: 85vh!important;
}

.setWindowHeight {
  max-height: 85vh !important;
}
#main-content{
  height: calc(100vh - 10px);
  max-height: 90vh;
  overflow-y: auto;
}
 .Maincontent{
  height: calc(100vh - 10px);
  max-height: 90vh;
  overflow-y: auto;
 
}
header {
  background-color: #1b3a57 !important;
  padding: 5px!important;
  overflow: hidden;
  height: 50px; /* Adjust based on preference */
  min-height: 40px; /* Prevent it from becoming too small */
  max-height: 60px; /* Keep a reasonable upper limit */
  padding: 5px 15px; /* Reduce padding inside the header */
}

 
/* Adjust for smaller screens */
@media (max-width: 768px) {
  header {
      height: 45px;
      padding: 5px 10px;
  }
}

@media (max-width: 480px) {
  header {
      height: 40px;
      padding: 3px 8px;
  }
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 10px;
}

.setWindowHeight {
  height: calc(100vh - 1px); /* Adjust height dynamically */
  overflow-y: auto;
}

.scrollbar {
  overflow-y: auto;
  overflow-x: hidden;
}
