
 
<amexio-accordion [multi-open]="true">
    <amexio-accordion-tab amexioColorPalette [color-palette]="''" header="All Aggregate Functions " [gradient]="true"
                          [active]="true">
      <hr />
      <input type="text" class="form-control" placeholder="Search" id="listSearch">
      <hr />
      <div class="table">
        <div class="row header">
          <div class="cell">Aggregate Functions </div>
          <div class="cell">MS Descriptions</div>
        </div>
        <div *ngFor="let function of functionDescriptions | keyvalue" class="row">
          <div class="cell"><a [routerLink]="['/AggregateFunction', function.key ]"> {{ function.key }}</a></div>
          <div class="cell">{{ function.value }}</div>
        </div>
      </div>
    </amexio-accordion-tab>
  
  </amexio-accordion>
